body {
    background-color: #FAFAFA;
    color: #1C1F23;
}

.navbar-custom {
	background-color: #2A2E35 !important;
}

.navbar-custom .navbar-brand {
	font-weight: bold;
	color: white !important;
	text-decoration: none;
}

.navbar-custom .navbar-brand:hover {
	color: #6A7B8D !important;
}

.navbar-custom .nav-link {
	color: white !important;
	transition: color 0.3s ease;
	text-decoration: none;
	font-weight: 500;
}

.navbar-custom .nav-link:hover {
	color: #6A7B8D !important;
}

.navbar-logo {
	width: 50px;
	height: 50px;
}

.container {
    padding-top: 10px;
}

.btn-primary {
    background-color: #2A2E35 !important;
    color: white !important;
    padding: 10px 20px;
    border: none !important;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #6A7B8D;
    transform: translateY(-1px);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #6A7B8D !important;
	color: white !important;
	outline: none;
	box-shadow: none;
}

.account-list {
    gap: 10px;
    padding-bottom: 20px;
}